/* Stili per sovrascrivere e modificare il componente Accordion/collapse di Bootstrap */

.panel {
  border: 1px solid var(--grey-color);
  border-radius: 0;
}

.panel-heading {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-title > a {
  color: var(--black-color);
  text-decoration: none;
}

.panel-group .panel {
  border-radius: 0;
}

.panel-group .panel + .panel {
  margin-top: 0;
}

.panel-default > .panel-heading {
  background-color: var(-fb-primary-color);
  border-color: var(--grey-color);
}

.panel-default > .panel-heading + .panel-collapse .panel-body {
  border-top-color: var(--grey-color);
}

.panel-default > .panel-footer + .panel-collapse .panel-body {
  border-bottom-color: var(--grey-color);
}
/* Pannelli dell'accordion basati sui panel di Bootstrap */

.panel-carousel {
  padding: 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  background-color: var(--black-color);
  border: 1px solid var(--grey-color);
  border-radius: 0;
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}
.panel-carousel-heading {
  margin: -15px -15px 15px;
  padding: 10px 15px;

  font-size: 1em;
  font-weight: 500;
  color: var(--black-color);
  border-bottom: 1px solid var(--grey-color);
}
.panel-carousel-footer {
  margin: 15px -15px -15px;
  padding: 10px 15px;
  background-color: var(--lightgrey-color);
  border-top: 1px solid var(--grey-color);
}

.panel-carousel-control {
  font-size: 1em;
}
.panel-carousel-control:hover,
.panel-carousel-control:focus {
  text-decoration: none;
}