/*     C O L O R I           */
.fb-content {
/* sfondo e colore dei testi */
	background-color: var(--bg-color);
	border: 1px solid var(--bg-color);
	color: var(--tx-color);
}
.fb-primary {
/* sfondo e colore header-footer (scuro) */
	background-color: var(--pri-color);
	border: 1px solid var(--pri-color);
	color: var(--tx-pri-color);
}
.fb-secondary {
/* sfondo e colore section (chiaro) */
	background-color: var(--sec-color);
	border: 1px solid var(--sec-color);
	color: var(--tx-sec-color);
}

.fb-accent {
/* sfondo e colore accent  */
	background-color: var(--button-color);
	border: 1px solid var(--button-color);
	color: var(--tx-button-color);
}

.fb-button {
/* sfondo e colore button  */
	background-color: var(--white-color);
	border: 1px solid #bbbbbb;
	color: #333333;
}

.fb-button:hover	{
	background-color: #e6e6e6;
	border: 1px solid #adadad;
	color: #333333;
}

/* bordi per :hover */
.fb-accent:hover 	{
	background-color: #ffc90b;
	border: 1px solid #ffc90b;
	color: #333333;
}

/* colori standard */
.fb-color-white {
	color: var(--white-color);
}

.fb-color-black {
	color: var(--black-color);
}

.fb-color-blue {
	color: var(--blue-color);
}
.fb-color-grey {
	color: var(--grey-color);
}

.fb-color-lightgrey {
	color: var(--lightgrey-color);
}
.fb-color-darkgrey {
	color: var(--darkgrey-color);
}
.fb-color-grey {
	color: var(--grey-color);
}
