/*     C O L O R I           */
.fb-bgcolor-pri {
/* sfondo e colore dei template */
	background-color: var(--bg-color);
	border: 1.5px solid var(--bg-color);
	color: var(--tx-color);
}

.fb-bgcolor-sec {
	background-color: var(--sec-color);
	border: 1.5px solid var(--sec-color);
	color: var(--tx-color);
}

.fb-bgcolor-accent {
	background-color: var(--accent-color);
	border: 1.5px solid var(--accent-color);
	color: var(--bg-color);
}
.blue {
	color: var(--blue-color);
}

/* sfondo e colore dei template */

.fb-bgcolor-basic {
	background-color: var(--lightgrey-color);
	border: 1.5px solid var(--lightgrey-color);
	color: var(--black-color);
}
/* bordi per :hover */
.fb-bgcolor-accent:hover,
.fb-bgcolor-sec:hover,
.fb-bgcolor-pri:hover,
.fb-bgcolor-basic:hover
 {
	border: 1.5px solid var(--darkgrey-color);
}

/* colore template */
.fb-color-accent {
	color: var(--accent-color); 
}

.fb-color-white {
	color: var(--white-color);
}

