/* larghezze  */
.fb-w80	{
	width: 80vw;
}
.fb-w25	{
	width: 25vw;
}
.fb-w30	{
	width: 30vw;
}
.fb-w50	{
	width: 50vw;
}
.fb-wfit	{
	width: fit-content;
}
/* altezze  */
.fb-hv80	{
	height: 80vh;
}
.fb-hp150	{
	height: 150px;
}


/* margini */
.fb-m05		{
	margin: 0.5em;
}
.fb-m1		{
	margin: 1em;
}
.fb-m1r		{
	margin-right: 1em;
}
.fb-m2		{
	margin: 2em;
}
.fb-m3		{
	margin: 3em;
}



/* padding */
.fb-p025		{
	padding: 0.25em;
}
.fb-p05		{
	padding: 0.5em;
}
.fb-p1		{
	padding: 1em;
}
.fb-p2		{
	padding: 2em;
}
.fb-p3		{
	padding: 3em;
}

/* Raggio del bordo */

.fb-rad0 {
	border-radius: 0px;
}
.fb-rad2 {
	border-radius: 2px;
}
.fb-rad5 {
	border-radius: 5px;
}
.fb-rad7 {
	border-radius: 7px;
}
.fb-rad50 {
	border-radius: 50px ;
}
/* Testo */
.fb-upper	{
	text-transform: uppercase;
}
/* Ombra box se :hover*/
.fb-shadow:hover {
 box-shadow: 10px 10px 20px rgba(0,0,0,0.50); /* x-offset y-offset blur spread color */
 }