/*   FIELDSET   */
@mixin	fieldset
{
	background: var(--lightgrey-color);
	border: 1px solid var(--grey-color);
	border-radius: 1em;
	padding: 1em;
}
fieldset {
@include	fieldset;
	margin-bottom: 0.25em;
}


fieldset.input {
border: none;
margin: 1px;
padding: 1px;
border-radius: 0;
}

fieldset.tabella {
border: 1px solid var(--grey-color);
margin: 0;
padding: 0.5em;
border-radius: 0.5em;
}

fieldset div {
float: left;
width: 100%;
padding: 1px 0 2px;
}


legend {
	color: var(--button-color);
	border-bottom: none !important;
	margin-bottom: 0px  !important;
	padding: 0 5px;
	width: fit-content !important;
	font-weight: bold;
	font-size: 1em;
}  