.table {
  display: flex;
  flex-flow: column nowrap;
  font-size: .8rem;
  margin: 0.5rem;
  line-height: 1.5;
  border-bottom: 1px solid $darkgrey-color;
  flex: 1 1 auto;
  display:block; 
  overflow:scroll;
}

.th {
  position: sticky;
  top: 0;
  display: flex;
  font-weight: 700;
  background-color: $grey-color;
}

.th > .td {
  white-space: normal;
  justify-content: left;
}

.tr {
  width: 100%;
  display: flex;
  flex-flow: row nowrap;
}

.tr:nth-of-type(even) {
  background-color: $lightgrey-color;
}

.tr:nth-of-type(odd) {
  background-color: $white-color;
}

.td {
  display: flex;
  flex-flow: row nowrap;
  padding: 0.5em;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0px;
  white-space: nowrap;
  border-bottom: 1px solid $grey-color;
  justify-content: left;
}