/*  form  */

/*  MIXINS  */
@mixin	margin-block-end
{
  margin-block-end: 0em !important;
}

@mixin	label
{
	float: left;
	display: inline;
	margin-right: 10px;
	line-height: 22px;
	text-align: right;
}

/* Stile per modificare e sovrascrivere l'aspetto degli input di Bootstrap */

form	{
  @include	margin-block-end;
}

.form-control {
  @include	margin-block-end;
  height: 32px;
  padding: 6px 12px;
  color: var(--darkgrey-color);
  border-radius: 0;
}

form.login{
margin :0 50% 0 50%;
}

form.bottoni {
  @include	margin-block-end;
float: right;
}

select {
color: var(--blue-color);
}

textarea,
textarea > p {
color: var(--blue-color);
font-size: 1em;
}


/*  LABEL  */

 label    {
	@include	label;
	width: 20%;
 }

 label.label30    {
	@include	label;
	width: 30%;
 }

 label.control-label    {
	@include	label;
	width: 30%;
 }

input {
	color: var(--blue-color);
	border: 2px solid var(--grey-color);
}

input[type='radio']		{
	border: 2px solid var(--blue-color);
	background:var(--grey-color);
}
input.req {
	color: var(--blue-color);
	background: var(--black-color);
	border: 2px solid var(--accent-color);
}
input.titolo {
	background: inherit;
	color: var(--blue-color);
	border-width: 0px;
}

input.titolo_b {
	background: inherit;
	color: var(--blue-color);
	font-weight: bold;
	border-width: 0px;
}
input.nobord {
	border: none;
	width: 25px;
	height: 20px;
	padding: 0 3px;
}

button.nav	{
	height:3em;
	padding: 1em;
}
button:hover {
background: var(--lightgrey-color);
border: 1px solid var(--lightgrey-color);
}
