/*  IMG  */
img {
border: none;
vertical-align: middle;
}
img.promo {
height: 200px;
}
img.footer {
height: 100px;
}
.img-utente {
height: 50px;
}
.fb-relative	{
	position: relative;
}
img.centro{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;	
}
img.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
img.login {
	margin-right: 40px;
}
img.img-h300	{
	 height: 300px !important;
	 /*max-width:400px !important;*/
}
img.img-fit	{
  width: 100%;
  object-fit: cover;
}