/* LINK */
a {
text-decoration: none  !important
}

a[data-toggle="tooltip"] ,
a:link[data-toggle="tooltip"] {
	cursor: none;
	color:#000;
}

a:link {
color: $success-color;
}

a:active {
color: $warning-color;
}

a:visited {
color: $primary-color;
}

a:hover {
color: $danger-color;
}
