/* LINK */
a {
text-decoration: none;
display:block;
}
/*
a:link {
color: $pri-color;
}

a:active {
color: $pri-color;
}

a:visited {
color: $pri-color;
}
*/
a:hover {
background: $grey-color;
border: 1px solid $grey-color;
}
