/*  finestra di popup  */
.popup {
	position:fixed;
	top:0px;
	left:0px;
	background: var(--pri-color);
	width:100%;
	height:100%;
	display:none;
}

/* Popup inner div */
.popup-content {
	width: 600px;
    margin: 0 auto;
    padding: 2em;
    margin-top: 20px;
    box-shadow: 0px 2px 6px rgba(5,5,10,1);
    border-radius: 3px;
    position: relative;
}

/* Popup close button */
.close-button {
    position: absolute;
    top: 1em;
    right: 1em;
    font-size: 2em;
    text-align: center;
    color: var(--pri-color);
	text-decoration:none;
	padding-right:0.5rem;
}
.close-button:hover {
 /* color: var(--button-color); 
  background:transparent !important;*/
  border:none !important;
  }


@media screen and (max-width: 720px) {
.popup-content {
	width:90%;
	}	
	}