    /* TABELLA */
.tableFixHead    { 
	overflow-y: auto; 
	height: 450px; 
	}
.tableFixHead th { 
	position: sticky; 
	top: 0; 
	}

table  { 
	border-collapse: collapse; 
	width: 100%; 
	}
	
td { 
	padding: 0.5em;
	text-align: left;
	}
	
th     { 
	padding: 0.5em;
	text-align: center;
	background:var(--grey-color); 
	}

td.center {
	text-align: center;
}

tr td:last-child	{
border-right: 1px solid var(--grey-color);
}

tr:hover	{
	background-color: var(--lightgrey-color);
}