/* larghezze  */
.w400	{
	width: 400px;
}




/* altezze  */
.h400	{
	height: 400px;
}

/* margini */
.m1		{
	margin: 1em;
}
.m2		{
	margin: 2em;
}
.m3		{
	margin: 3em;
}


/* padding */
.p1		{
	padding: 1em;
}
.p2		{
	padding: 2em;
}
.p3		{
	padding: 3em;
}