@charset "utf-8" ;
@import "variabili";
@import "palette";
@import "decori";
@import "colors";
@import "forms";
@import "link";
@import "fieldset";
@import "tabella";
@import "img";
@import "accordion";
/*@import "tooltip"; ------sostituito da jquery*/
/*@import "navbar";*/
@import "ul-nav2-liv2";
@import "totop";
/*@import "grid";   ------sostituito da flex*/
@import "flex";
@import "flex-table";
@import "colonne";
@import "popup";
/*@import "nav";
@import "nav-1page";
@import "hor-nav-hamb";
@import "hamburger";
@import "basic-nav";*/


/*   ELEMENTI HTML  */
*	     {
			padding:0;
			margin:0;}
			
h1,h2,h3,p	{margin: 0 !important;
			padding: 0.25em;}
			
h1	 {	font-size: 2em !important;
		font-weight:700;}
		
h2	 {	font-size: 1.5em !important;
		font-weight:600;}
		
h3	 {	font-size: 1.25em !important;
		font-weight:500;}
		
html { min-height: 100%; }

body {
	font-family: 'Muli', sans-serif;
	font-size:16px !important ;
	margin: 1em auto;
	width: 96%;
	text-rendering: optimizeLegibility;
}

body.admin	{
		height:100vh;
		min-height: calc(100vh - 10%) ; 
		bottom:0; 
		position:absolute; 
		margin:10px;
		width: 99vw;
} 
/* Stile per modificare e sovrascrivere i blockquote di Bootstrap */
blockquote {
 border-left: 5px solid $primary-color;
}

p {
text-align: justify;
color: $tx-color;
font-size: 1em;
font-weight:400;
max-width:60ch;
line-height: 1.25em;
}
/* testo indentato */
p + p {
text-indent: 1.5em;
}
.p:first-letter {
float: left;
padding-right: 0.1em;
line-height: 1em;
font-size: 3.5em;
color: $success-color;
}

Pre {
color: $tx-color;
line-height: 1.2em;
margin: 0 0 0.3125em 0;
}


hr {
color: $tx-color;
}

hr.slim   { 		 /* HR senza margini verticali  */
 margin-bottom: 0px;
 margin-top: 0px;
 background-color: $grey-color;
 height: 0.0625em;
}

span.right {
float: right;
}

iframe {
border: 0;
}

footer {
	background-color: $bg-color;
	padding: 10px;
	border-left:1px solid $grey-color;
	border-right:1px solid $grey-color;
	border-bottom:1px solid $grey-color;
	border-radius:0 0 7px 7px; 
}

footer a, footer a:hover {
	color: $success-color;
}

section#corpo	{
	border:1px solid $grey-color;
}

header {
float: left;
width: 100%;
margin: 0;
height: 65px;
background-image: linear-gradient(top,$info-color ,darken($info-color,20%) );
background-image: -moz-linear-gradient(top,$info-color ,darken($info-color,20%) );
background-image: -webkit-linear-gradient(top,$info-color ,darken($info-color,20%) );
background-image: -ms-linear-gradient(top,$info-color ,darken($info-color,20%) );
font-size: xx-large;
font-weight: bolder;
color: $bg-color;
border: 1px solid $grey-color;
border-radius: 7px 7px 0 0;
}

nav {
float: left;
width: 100%;
margin: 0;
padding: 0;
background-color: $pri-color;
border-left: 1px solid $pri-color;
border-right: 1px solid $pri-color;
}

article {
float: left;
width: 100%;
color: $tx-color;
background: transparent;
}

aside.left {
float: left;
width: 0%;
background: transparent;
color: $tx-color;
}

aside.right {
float: left;
width: 0%;
background: transparent;
color: $tx-color;
}


/*   CLASSI DIV   */
div.widget {
	float: left;
	margin: 20px;
	border: 2px solid $grey-color;
	border-radius: 5px;
	background: $grey-color;
     width: 100%;
}
div.widget:hover {
  	box-shadow: 3px 5px 10px rgba(0,0,0,0.75);       
	border-bottom-right-radius: 70% 25px;
     transition-property: border-bottom-right-radius;
     transition-duration: .5s;
     background: $grey-color;
}
div.primary {
  background:    linear-gradient(rgba( 51, 122, 183, 1),rgba(191, 225, 252, 0.45))
    } 
 
div.fb-container-sleek {
	padding: 0px;
	margin: 0px;
}  
div.footer {
	background: $grey-color;
	display: block;
	width: 100%;
	padding: 0;
	margin-bottom: 20px;
	font-size: large;
	line-height: inherit;
	color: $darkgrey-color;
	border: 0;
	border-bottom: 1px solid $grey-color;
}

div.justify{
	text-align:justify;
}

ul, ol	{
	margin-left: 30px;
}


.dropdown-menu {
	padding: 0 0;
	border-radius: 0;
	-webkit-box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.175);
}
.dropdown-menu > li > a {
	padding: 7px 10px;
	border-bottom: 1px solid $grey-color;
}

.glyphicon-tondo	{
	top: 8px;
	left: 4px;
}

.fa-glyph-center 	{
	display:block!important; 
	text-align:center;
}



/* --------------------------------------------- */

.well {
     margin-top: 10px;
}
.container {
  width: auto;
  padding: 0 15px;
}
.container .text-muted {
  margin: 20px 0;
}
.space-after  {
     margin-top: 5px;
}
.space-before  {
     margin-bottom: 5px;
}
/*       BORDO           */

.bordato {
	border: 1px solid;
}
.table-striped>tbody>tr:nth-of-type(odd) {
	background-color: $lightgrey-color;
}

.row-center {
	margin: 0 auto;
}

.no-padd {
	padding-left: 0px !important;
	padding-right: 0px !important;
}


/* autocomplete scrollabile */
.ui-autocomplete {
    max-height: 250px;
    overflow-y: auto;
    overflow-x: hidden; /* prevent horizontal scrollbar */
  }


/*  CLASSI  */
.little {
font-size: xx-small;
}

.center {
text-align: center;
}
.marchio {
height: 50px;
float: left;
}
.alert    {		/*  alert senza margini  */
margin-bottom: 0px !important;
}

/*  T O O L B A R  */
.toolbar-color{
	background:$info-color;
	margin: 0;
}
h1.toolbar	{
	font-size:x-large;	
	font-weight: bold;
	margin-top: 10px;
	color:$bg-color;
}

/*   ID   */
#wrapp {
	height: 300px;
	width: 400px;
	margin: 1em;
	overflow: hidden;
	position: relative;
}
#player {
	left: 0;
	position: absolute;
	top: 0;
}

/* bottone go-to-top */
#tornasu{
	position: fixed;
	bottom: 0px;
	right: 0px;
	display: none;
	padding:10px;
	}


